:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-image: url('https://mdn.alipayobjects.com/huamei_gcee1x/afts/img/A*erd4QL9Ccs0AAAAAAAAAAAAADml6AQ/original');
}

* {
  box-sizing: border-box;
}
