:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(255, 255, 255);
  background: linear-gradient(to bottom, transparent, rgb(0, 0, 0)) rgb(6, 6, 6);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-image: url('https://tailwindcss.com/_next/static/media/7-dark@tinypng.22f91747.png');
}

* {
  box-sizing: border-box;
}
